.menu-nav {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu-action {
        flex: 1;
    }
}

@media screen and (max-width: 1200px) {
    .menu-nav {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
}
