@import '../../../global.scss';

.footer {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .button-container {
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            background-color: $blue;
            height: 60px;
            border-radius: 20px;
            color: white;
            cursor: pointer;
            h2 {
                font-weight: 600;
                margin: 0;
            }

            border: none;
            padding: 0px 20px 0px 20px;
        }
    }

    .links {
        width: 70%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .copyright {
            flex: 1;
            text-align: left;
        }

        .website {
            flex: 1;
            text-align: right;
            a {
                color: $gray;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        .button-container {
            padding: 10px;
            button {
                height: 75px;
            }
        }

        .links {
            margin: 10px 0;
            width: 100%;
            flex-direction: column;
            .copyright {
                text-align: center;
            }

            .website {
                text-align: center;
            }
        }
    }
}

@media screen and (max-height: 760px) and (min-width: 1200px) {
    .footer {
        height: 10%;
        .button-container {
            button {
                height: 40px;
                h2 {
                    margin: 0;
                    font-size: 16px;
                }
            }
        }
    }
}
