@import '../../../global.scss';

.content {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-container {
        width: 85%;
        height: 80%;
        display: flex;

        div {
            flex: 1;
        }

        .left-part-container {
            width: 80%;
            height: 80%;
        }

        .right-part-container {
            height: 100%;

            .footer {
                padding: 10px 40px 10px 40px;
                color: $light-gray;
                height: 20%;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .content {
        height: auto;
    }
    .content-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .left-part-container {
            width: auto;
            height: auto;
        }

        .right-part-container {
            width: auto;
        }
    }
}

@media screen and (max-height: 860px) and (min-width: 1200px) {
    .content-container {
        width: 95%;
        height: 95%;

        padding-top: 10px;
        .right-part-container {
            height: auto;
        }
    }
}
