@import '../../../global.scss';

.result-row {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
        flex: 1;
        img {
            width: 48px;
            height: 48px;
        }
    }

    .text {
        flex: 6;
        color: $gray;
    }
}

@media screen and (max-width: 1200px) {
    .result-row {
        padding: 10px;

        .text {
            flex: 2;
        }
    }
}
