.data {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-header {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;

        h1 {
            margin-left: 150px;
            width: 500px;
        }
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;

        .left-part-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .table-footer {
                width: 80%;
                line-height: 20px;
                padding: 10px 10px 10px 10px;
            }
        }

        .right-part-container {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .table-footer {
                width: 80%;
                line-height: 20px;
                padding: 10px 10px 10px 10px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .data {
        background-color: white;
        width: 100%;

        .title-header {
            justify-content: center;
            margin-top: 30px;

            h1 {
                text-align: center;
                margin-left: 0;
                width: 330px;
            }
        }

        &-container {
            width: 100%;
            flex-direction: column-reverse;

            .left-part-container {
                flex-direction: column;
                font-size: 14px;
            }

            .right-part-container {
                margin-bottom: 20px;
                width: 100%;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .data {
        &-container {
            .left-part-container {
                font-size: 12px;
            }

            .right-part-container {
                font-size: 9px;
            }
        }
    }
}

@media screen and (max-height: 760px) and (min-width: 1200px) {
    .data {
        height: 85%;

        .title-header {
            h1 {
                width: 100%;
            }
        }
        &-container {
            width: auto;
        }
    }
}
