.menu-logo {
    display: flex;
    align-items: center;
    width: 100%;
    word-break: normal;

    .item {
        margin: 10px 10px;

        &-logo {
            flex: 1;
            img {
                display: block;
                margin: 0 auto;
                width: 50px;
                height: 50px;
            }
        }

        &-title {
            span {
                margin-right: -5px;
            }
            flex: 4;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
                'Lucida Grande', sans-serif;
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .menu-logo {
        .item-title {
            text-align: center;
            font-size: 12px;
        }
    }
}
