@import '../../../global.scss';

.menu-bar {
    background: white;
    height: 10%;
    border-bottom: 2px solid #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
        flex: 5;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &-nav {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 8;
    }

    &-button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-list {
        height: 0px;
        overflow: hidden;
        background-color: white;

        &-open {
            height: 200px;
            transition: height 0.3s ease-in-out;
        }

        &-close {
            height: 0px;
            transition: height 0.3s ease-in-out;
        }
    }
}
