@import '../../../global.scss';

*,
*:after,
*:before {
    box-sizing: border-box;
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    margin-bottom: 20px;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 15px;
    border: none;
    background-color: $blue;
    color: white;

    padding: 0 22px;
    height: 40px;
    line-height: 60px;
    cursor: pointer;
}

.custom-options {
    position: absolute;
    display: block;
    top: 85%;
    left: 0;
    right: 0;
    border-top: 0;
    transition: all 0.2s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;

    border: 1px solid black;
    background-color: white;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: flex;
    align-items: center;

    padding: 20px;

    color: black;
    cursor: pointer;
    transition: all 0.5s;

    height: 50px;

    &:hover {
        cursor: pointer;
        background-color: rgba(147, 189, 207, 0.5);
    }
}

.custom-option.selected {
    color: #ffffff;
    background-color: $blue;
}

.arrow {
    position: absolute;
    right: 5%;
    height: 15px;
    width: 15px;
}

.arrow::before,
.arrow::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -5px;
    transform: rotate(-45deg);
    background-color: white;
}

.arrow::after {
    left: 5px;
    transform: rotate(45deg);
    background-color: white;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(-45deg);
}
