@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
        sans-serif;
}

#___gatsby,
#gatsby-focus-wrapper {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

@media screen and (max-width: 1200px) {
    #___gatsby,
    #gatsby-focus-wrapper {
        max-width: 1200px;
        height: auto;
    }
    html,
    body {
        max-width: 1200px;
        height: auto;
    }
}
