@import '../../../global.scss';

.results {
    display: flex;
    flex-direction: column;

    height: 80%;
    background-color: white;
    border-radius: 25px;
    padding: 25px;

    .header {
        flex: 2;
        padding-left: 15px;
        margin-bottom: 15px;

        &-result {
            font-size: 36px;
            font-weight: 500;
            word-spacing: normal;
        }

        .price {
            color: $red;
        }
    }

    .list {
        flex: 4;
        display: flex;
        flex-direction: column;
        padding: 30px 60px;
    }

    .footer {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: $blue;
        }
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .results {
        .list {
            padding: 30px 10px;
        }
    }
}
