@import '../../../global.scss';

.choose {
    display: flex;
    flex-direction: column;

    height: 80%;
    padding-top: 65px;

    .header {
        flex: 3;
    }

    .subheader {
        flex: 2;

        h3 {
            color: $gray;
            font-weight: normal;
        }
    }

    .list {
        padding-top: 10px;
        flex: 4;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {
    .choose {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

@media screen and (max-height: 860px) and (min-width: 1200px) {
    .choose {
        padding-top: 0px;
    }
}
