@import '../../../global.scss';

.stats-table {
    width: 95%;
    border-collapse: collapse;

    tr {
        height: 70px;

        &:first-child {
            td {
                &:last-child {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }
        }

        &:last-child {
            td {
                &:last-child {
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }

        td:first-child {
            text-align: right;
            padding: 20px;
        }

        td:last-child {
            background-color: $light-gray3;
            width: 150px;
            font-family: 'Roboto';
            font-weight: 500;
        }
    }

    td {
        text-align: center;
    }
}
