@import '../../../global.scss';

.esn-table {
    width: 85%;

    border-collapse: collapse;

    tr {
        height: 85px;
    }

    td {
        text-align: center;
    }

    thead {
        div {
            padding: 20px;
            text-align: center;
        }
    }

    tbody {
        tr {
            background-color: $light-gray3;
            td {
                .name {
                    width: 100%;
                    padding-left: 20px;
                    font-weight: normal;
                }

                div {
                    font-weight: 500;
                }

                &:first-child {
                    text-align: left;
                    font-weight: 800;
                    width: 350px;
                }
            }
        }

        tr:first-child {
            td {
                &:first-child {
                    border-top-left-radius: 20px;
                }
                &:last-child {
                    border-top-right-radius: 20px;
                }
            }
        }

        tr:last-child {
            background-color: $light-gray4;

            td {
                &:first-child {
                    border-bottom-left-radius: 20px;
                }
                &:last-child {
                    border-bottom-right-radius: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .esn-table {
        width: 90%;
    }
}

@media screen and (max-height: 760px) and (min-width: 1200px) {
    .esn-table {
        font-size: 14px;

        tbody {
            tr {
                td {
                    .name {
                        border-right: none;
                    }

                    &:first-child {
                        width: 100px;
                    }
                }
            }
        }
    }
}
