@import '../../../global.scss';

.menu-action {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
        text-decoration: none;
        border: 0 none;
        font-weight: 400;
        color: $gray;
        border-bottom: none;

        &:hover {
            border-bottom: 1px solid $gray;
        }

        transition: 1s ease-in;
    }

    button {
        cursor: pointer;

        font-weight: 600;
        color: white;
        background-color: $red;
        border: none;
        //height: 50px;
        padding: 15px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .menu-action {
        width: 100%;
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            &:hover {
                border-bottom: none;
            }
        }

        &:hover {
            background-color: $light-gray2;
            transition: background-color 0.1s ease-in-out;
        }
    }
}
