$red: #cf3a3c;
$gray: #a1a1a1;
$light-gray: #b4b4b4;
$light-gray2: #e6e6e6;
$light-gray3: #f0f0f0;
$light-gray4: #f6f6f6;
$blue: #007bac;
$font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

h1 {
    font-size: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: $font;
}

h2 {
    font-family: $font;
}

h3 {
    font-family: $font;
}

.coddity {
    color: #cd4442;
}

.blue-text {
    color: $blue;
}

.gray-text {
    color: $gray;
}

.normal-text {
    font-size: 16px;
}

.small-text {
    font-size: 12px;
}

.very-small-text {
    font-size: 10px;
}

sup {
    font-size: 10px;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 34px;
    }

    .normal-text {
        font-size: 14px;
    }

    .small-text {
        font-size: 11px;
    }
}
